 //variablees
 @import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
 @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:300,400,700|Roboto:300,400,700');
 $roboto: 'Roboto',
 sans-serif;
 $lato: 'Lato',
 sans-serif;
 $openSans: 'Open Sans',
 sans-serif;
 $thin: 300;
 $normal: 400;
 $bold: 700;
 $primary: #032f3e;
 $green: #8d816d;